

.my-container{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
   background-image: url(../stylesheet/images/bg-intro-desktop.png);
   max-width: 100%;
    border-radius: 5px;

   
}

 .container{
    display: flex;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
    justify-items: center;
  
    

} 

.left_test_area h1{
    font-family: 'Poppins', sans-serif;
    color: white;
    font-weight: 700px;
    max-width: 90%;
}  

.left_test_area div{
    font-size: 16px;
    font-weight: 600px;
    color: white; 
    max-width: 90%;  
    
}

.color-overlay {
    background-color: hsl(0, 100%, 74%) ;
}
    

.card-body{
    
    background-color: rgb(255, 255, 255);
    border-radius: 5px ;
    margin-top: 20px;
    
}

 

 .formarea-box{
    
    width: 90%;
   justify-content:space-between;  
   border-radius: 5px;
    justify-items: center;
    align-items: center;    
    box-shadow: 0px 3px  rgba(0, 0, 0, 0.4) ;
    
   
 }
  

.topadd{  
    
display: flex;
width: 100%;
     /* align-items: center;  */
      border-radius: 5px;
      /* font-weight: 700px; */
      justify-content: space-around;
      box-shadow: 0px 5px 3px rgba(0, 0, 0, 0.4) ;
     
     
}

.my-btn{
   display: flex;
   width: 100%; 
   align-items: center;   
   border-radius: 5px;
   background-color: hsl(248, 32%, 49%);
   font-family: 'Poppins', sans-serif;
   font-weight: 600px;
   text-align: center;
   justify-content: center;
   justify-items: center;
   color: white;
   padding-top: 15px;
   


}
.color-overlay1 {
    background-color: hsl(246, 25%, 77%);
    box-shadow: 1px 10px 5px rgba(0, 0, 0, 0.4) ;
}


.my-2ndbtn{
    display: flex;
    width: 100%;
    align-items: center;
   box-shadow: 0px 5px 0px #37af7b;
   border-radius: 5px;
   background-color:#49D095; 
  height: 3rem;
   text-align: center;
   justify-content: center;
   color: white;


}
   
.sa{
    display: flex;
    font-size:x-small;
    padding-top: 2rem;
   
    justify-content: center;
  
    justify-items: center;
    align-items: center;
    
} 



    
.form-group input{
 width: 100%;
  box-sizing: border-box; 
  transition: 0.5s;
  outline: none;
}
  .form-group [type=text]:focus{
    border: .1rem solid  hsl(247, 23%, 70%);


}

.text-muted{
    text-align: center;
}
@media only screen and (max-width: 769px) {
  
  
      .formarea-box{
        max-width: 20rem;
      }
      .left_test_area div{
          display: flex;
          font-family: 'Poppins', sans-serif;
          color: white;
          font-weight: 400px;
          font-size: 1rem;
          max-width: 20rem;
          justify-content: flex-end;

     
      }
      .card-body{
      max-width: 50rem;
     
          
      }
      .form-group input{
          font-size: .8rem;
          
      }
      .my-btn{
          font-size: .8rem;
  }
  .my-2ndbtn{
      font-size: .8rem; 
}

@media only screen and (max-width: 1440px) {
  .container{
    display: flex;
    justify-items: right;
      height: 100vh;
    font-size: 1rem;
  }
  
    .left_test_area h1{
        display: flex;
        font-family: 'Poppins', sans-serif;
        color: white;
        font-weight: 400px;
        font-size: 1.5rem;
        max-width: 20rem;
        justify-content: flex-end;
        
    }

    .left_test_area div{
        display: flex;
        font-family: 'Poppins', sans-serif;
        color: white;
        font-weight: 400px;
        font-size: 1rem;
        max-width: 20rem;
        justify-content: flex-end;
    }
    .card-body{
    display: flex;
    justify-content: start;
       max-width: 25rem;
        
    }
    .form-group input{
        font-size: .8rem;
        
    }
    .my-btn{
        font-size: .8rem;
}
.my-2ndbtn{
    font-size: .8rem; 
}

    
}

}